@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "NeueHaasDisplay-Black";
	src: url("/fonts/NeueHaasDisplay-Black.woff2");
}

@font-face {
	font-family: "ABCMonumentGrotesk-Bold-Trial";
	src: url("/fonts/ABCMonumentGrotesk-Bold-Trial.woff2");
}

@font-face {
	font-family: "ABCMonumentGrotesk-Medium-Trial";
	src: url("/fonts/ABCMonumentGrotesk-Medium-Trial.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Roman";
	src: url("/fonts/NeueHaasDisplay-Roman.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Light";
	src: url("/fonts/NeueHaasDisplay-Light.woff2");
}

@font-face {
	font-family: "ABCSyntMono-Regular-Trial";
	src: url("/fonts/ABCSyntMono-Regular-Trial.woff2");
}

@font-face {
	font-family: "ABCGaisyrMono-Medium-Trial";
	src: url("/fonts/ABCGaisyrMono-Medium-Trial.woff2");
}
