@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Franklin Gothic Heavy, Regular";
	src: url("/fonts/Franklin Gothic Heavy, Regular.woff2");
}

@font-face {
	font-family: "ABCMonumentGrotesk-Bold-Trial";
	src: url("/fonts/ABCMonumentGrotesk-Bold-Trial.woff2");
}

@font-face {
	font-family: "ABCMonumentGrotesk-Medium-Trial";
	src: url("/fonts/ABCMonumentGrotesk-Medium-Trial.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Roman";
	src: url("/fonts/NeueHaasDisplay-Roman.woff2");
}

@font-face {
	font-family: "NeueHaasDisplay-Light";
	src: url("/fonts/NeueHaasDisplay-Light.woff2");
}

@font-face {
	font-family: "ABCSyntMono-Regular-Trial";
	src: url("/fonts/ABCSyntMono-Regular-Trial.woff2");
}

@font-face {
	font-family: "ABCGaisyrMono-Medium-Trial";
	src: url("/fonts/ABCGaisyrMono-Medium-Trial.woff2");
}

.video-background {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.video-background iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 4/3) {
	.video-background iframe {
		/* height = 100 * (3 / 4) = 56.25 */
		height: 75vw;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-background iframe {
		/* width = 100 / (9 / 16) = 177.777777 */
		width: 133vh;
	}
}
